<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Button Group - Groove UI</title>
    <link rel="stylesheet" href="../assets/demo.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <style>
        body {
            padding: 24px
        }
    </style>
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Button Group</h1>
            <p>버튼 그룹의 방향 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">
            <!-- 수평 버튼 그룹 -->
            <article>
                <div class="article-header">
                    <h2>수평</h2>
                    <p>수평 버튼 그룹</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-button-group">
                            <button class="gr-btn gr-btn--secondary">Left</button>
                            <button class="gr-btn gr-btn--secondary">Middle</button>
                            <button class="gr-btn gr-btn--secondary">Right</button>
                        </div>
                    </div>
                </div>
            </article>

            <!-- 수직 버튼 그룹 -->
            <article>
                <div class="article-header">
                    <h2>수직</h2>
                    <p>수직 버튼 그룹</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-button-group gr-button-group--vertical" style="margin-left:16px">
                            <button class="gr-btn gr-btn--secondary">Top</button>
                            <button class="gr-btn gr-btn--secondary">Middle</button>
                            <button class="gr-btn gr-btn--secondary">Bottom</button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>
    <script src="../assets/demo.js"></script>
</body>

</html>