<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Label - Groove UI</title>
    <link rel="stylesheet" href="../assets/demo.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <style>
        body {
            padding: 24px
        }

        .group {
            display: flex;
            gap: 8px;
            flex-wrap: wrap
        }
    </style>
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Label</h1>
            <p>라벨의 색상, 스타일 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">
            <!-- 라벨 색상 -->
            <article>
                <div class="article-header">
                    <h2>색상</h2>
                    <p>라벨 색상</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <span class="gr-label">Default</span>
                        <span class="gr-label gr-label--primary">Primary</span>
                        <span class="gr-label gr-label--secondary">Secondary</span>
                        <span class="gr-label gr-label--success">Success</span>
                        <span class="gr-label gr-label--warning">Warning</span>
                        <span class="gr-label gr-label--danger">Danger</span>
                        <span class="gr-label gr-label--info">Info</span>
                        <span class="gr-label gr-label--light">Light</span>
                        <span class="gr-label gr-label--dark">Dark</span>
                    </div>
                </div>
            </article>

            <!-- 라벨 스타일 -->
            <article>
                <div class="article-header">
                    <h2>스타일</h2>
                    <p>라벨 스타일</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <span class="gr-label gr-label--outline gr-label--primary">Outline</span>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>
    <script src="../assets/demo.js"></script>
</body>

</html>