<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Segment Group - Groove UI</title>
    <link rel="stylesheet" href="../assets/demo.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <style>
        body {
            padding: 24px
        }
    </style>
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Segment Group</h1>
            <p>세그먼트 그룹 컴포넌트의 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">
            <!-- 기본 세그먼트 그룹 -->
            <article>
                <div class="article-header">
                    <h2>기본</h2>
                    <p>기본 세그먼트 그룹</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-segment-group">
                            <input class="gr-segment-group__input" type="radio" id="sg-a" name="sg" checked />
                            <label class="gr-segment-group__label" for="sg-a">Alpha</label>
                            <input class="gr-segment-group__input" type="radio" id="sg-b" name="sg" />
                            <label class="gr-segment-group__label" for="sg-b">Beta</label>
                            <input class="gr-segment-group__input" type="radio" id="sg-c" name="sg" />
                            <label class="gr-segment-group__label" for="sg-c">Gamma</label>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>
    <script src="../assets/demo.js"></script>
</body>

</html>