<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Table - Groove UI</title>
    <link rel="stylesheet" href="../assets/demo.css" />
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Table</h1>
            <p>테이블 컴포넌트의 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">
            <!-- 기본 테이블 -->
            <article>
                <div class="article-header">
                    <h2>기본</h2>
                    <p>기본 테이블</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <table class="gr-table gr-table--bordered gr-table--striped gr-table--responsive">
                            <thead class="gr-table__header">
                                <tr class="gr-table__row">
                                    <th class="gr-table__cell gr-table__cell--header">NO</th>
                                    <th class="gr-table__cell gr-table__cell--header">이름</th>
                                    <th class="gr-table__cell gr-table__cell--header">부서</th>
                                    <th class="gr-table__cell gr-table__cell--header gr-table__cell--right">접속 수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gr-table__row">
                                    <td class="gr-table__cell">1</td>
                                    <td class="gr-table__cell">김민수</td>
                                    <td class="gr-table__cell">Data</td>
                                    <td class="gr-table__cell gr-table__cell--right gr-table__cell--numeric">12</td>
                                </tr>
                                <tr class="gr-table__row">
                                    <td class="gr-table__cell">2</td>
                                    <td class="gr-table__cell">정수연</td>
                                    <td class="gr-table__cell">플랫폼</td>
                                    <td class="gr-table__cell gr-table__cell--right gr-table__cell--numeric">5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>
    <script src="../assets/demo.js"></script>
</body>

</html>