<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Typography - Groove UI</title>
    <link rel="stylesheet" href="../assets/demo.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <style>
        body {
            padding: 24px
        }
    </style>
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Typography</h1>
            <p>타이포그래피의 스타일 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">
            <!-- Display 타이포그래피 -->
            <article>
                <div class="article-header">
                    <h2>Display</h2>
                    <p>Display 타이포그래피</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-typography gr-typography--display-1">Display 1</div>
                        <div class="gr-typography gr-typography--display-2">Display 2</div>
                        <div class="gr-typography gr-typography--display-3">Display 3</div>
                    </div>
                </div>
            </article>

            <!-- Heading 타이포그래피 -->
            <article>
                <div class="article-header">
                    <h2>Heading</h2>
                    <p>Heading 타이포그래피</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-typography gr-typography--h1">H1 Heading</div>
                        <div class="gr-typography gr-typography--h2">H2 Heading</div>
                        <div class="gr-typography gr-typography--h3">H3 Heading</div>
                    </div>
                </div>
            </article>

            <!-- Body 타이포그래피 -->
            <article>
                <div class="article-header">
                    <h2>Body</h2>
                    <p>Body 타이포그래피</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-typography gr-typography--body-1">Body 1 text sample.</div>
                        <div class="gr-typography gr-typography--body-2">Body 2 text sample.</div>
                        <div class="gr-typography gr-typography--caption">Caption text</div>
                        <div class="gr-typography gr-typography--overline">OVERLINE</div>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>
    <script src="../assets/demo.js"></script>
</body>

</html>