<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Unit Group - Groove UI</title>
    <link rel="stylesheet" href="../assets/demo.css" />
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Unit Group</h1>
            <p>유닛 그룹의 스타일 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">
            <!-- 기본 유닛 그룹 -->
            <article>
                <div class="article-header">
                    <h2>기본</h2>
                    <p>기본 유닛 그룹</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-unit-group">
                            <input class="gr-unit-group__input" type="text" placeholder="검색어" />
                            <button class="gr-unit-group__button">검색</button>
                        </div>
                    </div>
                </div>
            </article>

            <!-- 텍스트 유닛 그룹 -->
            <article>
                <div class="article-header">
                    <h2>텍스트</h2>
                    <p>텍스트 유닛 그룹</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-unit-group" style="margin-top:16px">
                            <span class="gr-unit-group__text">http://</span>
                            <input class="gr-unit-group__input" type="text" placeholder="example" />
                            <span class="gr-unit-group__text">.com</span>
                        </div>
                    </div>
                </div>
            </article>

            <!-- 셀렉트 유닛 그룹 -->
            <article>
                <div class="article-header">
                    <h2>셀렉트</h2>
                    <p>셀렉트 유닛 그룹</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-unit-group" style="margin-top:16px">
                            <select class="gr-unit-group__select">
                                <option>+82</option>
                                <option>+81</option>
                            </select>
                            <input class="gr-unit-group__input" type="text" placeholder="전화번호" />
                            <button class="gr-unit-group__button">확인</button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>
    <script src="../assets/demo.js"></script>
</body>

</html>