<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Icon - Groove UI</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../assets/demo.css" />
    <style>
        body {
            padding: 24px
        }

        .group {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            margin-bottom: 16px
        }
    </style>
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Icon</h1>
            <p>아이콘의 크기, 색상 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">
            <!-- 아이콘 크기 -->
            <article>
                <div class="article-header">
                    <h2>크기</h2>
                    <p>아이콘 크기</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="grid">
                            <span class="gr-icon gr-icon--xs">★</span>
                            <span class="gr-icon gr-icon--sm">★</span>
                            <span class="gr-icon gr-icon--md">★</span>
                            <span class="gr-icon gr-icon--lg">★</span>
                            <span class="gr-icon gr-icon--xl">★</span>
                            <span class="gr-icon gr-icon--2xl">★</span>
                        </div>
                    </div>
                </div>
            </article>

            <!-- 아이콘 색상 -->
            <article>
                <div class="article-header">
                    <h2>색상</h2>
                    <p>아이콘 색상</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="grid">
                            <span class="gr-icon gr-icon--primary">★</span>
                            <span class="gr-icon gr-icon--success">★</span>
                            <span class="gr-icon gr-icon--danger">★</span>
                            <span class="gr-icon gr-icon--warning">★</span>
                            <span class="gr-icon gr-icon--info">★</span>
                            <span class="gr-icon gr-icon--dark">★</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>
    <script src="../assets/demo.js"></script>
</body>

</html>