<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tag - Groove UI</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../assets/demo.css" />
    <style>
        body {
            padding: 24px
        }

        .group {
            display: flex;
            gap: 8px;
            flex-wrap: wrap
        }
    </style>
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Tag</h1>
            <p>태그의 색상, 크기 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">
            <!-- 태그 색상 -->
            <article>
                <div class="article-header">
                    <h2>색상</h2>
                    <p>태그 색상</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <span class="gr-tag">Default</span>
                        <span class="gr-tag gr-tag--primary">Primary</span>
                        <span class="gr-tag gr-tag--secondary">Secondary</span>
                        <span class="gr-tag gr-tag--success">Success</span>
                        <span class="gr-tag gr-tag--danger">Danger</span>
                        <span class="gr-tag gr-tag--warning">Warning</span>
                        <span class="gr-tag gr-tag--info">Info</span>
                    </div>
                </div>
            </article>

            <!-- 태그 크기 -->
            <article>
                <div class="article-header">
                    <h2>크기</h2>
                    <p>태그 크기</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <span class="gr-tag gr-tag--sm">Small</span>
                        <span class="gr-tag">Default</span>
                        <span class="gr-tag gr-tag--lg">Large</span>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>

    <script src="../assets/demo.js"></script>
</body>

</html>