<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Radio - Groove UI</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../assets/demo.css" />
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Toast</h1>
            <p>토스트 팝업 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">

            <!-- 사이즈 -->
            <article>
                <div class="article-header">
                    <h2>사이즈</h2>
                    <p>라디오 버튼 사이즈</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <div class="gr-toast gr-toast--top gr-toast--show">
                            <div class="gr-toast__icon">🔔</div>
                            <div class="gr-toast__message">새로운 알림이 도착했습니다.</div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>

    <script src="../assets/demo.js"></script>
</body>

</html>