<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Toggle - Groove UI</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../assets/demo.css" />
    <style>
        body {
            padding: 24px
        }

        .group {
            display: flex;
            gap: 16px;
            flex-wrap: wrap
        }
    </style>
</head>

<body>
    <section>
        <div class="section-header">
            <h1>Toggle</h1>
            <p>토글의 상태, 크기 예제를 확인하고 코드로 바로 복사하세요.</p>
        </div>
        <div class="section-body">
            <!-- 토글 상태 -->
            <article>
                <div class="article-header">
                    <h2>상태</h2>
                    <p>토글 상태</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <label class="gr-toggle">
                            <input type="checkbox" checked />
                            <span class="gr-toggle__input"></span>
                            <span class="gr-toggle__label">On</span>
                        </label>
                        <label class="gr-toggle">
                            <input type="checkbox" />
                            <span class="gr-toggle__input"></span>
                            <span class="gr-toggle__label">Off</span>
                        </label>
                    </div>
                </div>
            </article>

            <!-- 토글 크기 -->
            <article>
                <div class="article-header">
                    <h2>크기</h2>
                    <p>토글 크기</p>
                </div>
                <div class="article-body">
                    <div class="group">
                        <label class="gr-toggle gr-toggle--sm">
                            <input type="checkbox" checked />
                            <span class="gr-toggle__input"></span>
                            <span class="gr-toggle__label">Small</span>
                        </label>
                        <label class="gr-toggle gr-toggle--lg">
                            <input type="checkbox" checked />
                            <span class="gr-toggle__input"></span>
                            <span class="gr-toggle__label">Large</span>
                        </label>
                    </div>
                </div>
            </article>
        </div>
        <div class="section-footer"></div>
    </section>

    <script src="../assets/demo.js"></script>
</body>

</html>